# bni Dune Dynasty config file.

[game]
# language is one of: ENG, FRE, GER, ITA, SPA
language=ENG
game_speed=3
hints=0
campaign=

[graphics]
# driver is one of: opengl, direct3d
driver=opengl
# window_mode is one of: windowed, fullscreen, fullscreenwindow
window_mode=fullscreenwindow
screen_width=2560
screen_height=1440
menubar_scale=3.00
sidebar_scale=3.00
viewport_scale=3.00
hardware_cursor=1

# correct_aspect_ratio is one of:
#
#     none
#     menu,(height multiplier)
#     full,(height multiplier)
#     auto,(height multiplier)
#
# where auto is the same as menu except when the screen height is less
# than 800 pixels.
correct_aspect_ratio=auto,1.1

[controls]
auto_scroll=1
scroll_speed=4
scroll_along_screen_edge=1
left_click_orders=0
hold_control_to_zoom=0
pan_sensitivity=1.00

[audio]
enable_music=1
# enable_sounds is one of: none, synth, digital, both
enable_sounds=digital
enable_voices=1
enable_subtitles=0
music_volume=0.25
sound_volume=0.75
voice_volume=1.00
opl_mame=1
sound_font=/usr/share/sounds/sf2/FluidR3_GM.sf2

[enhancement]
brutal_ai=0
fog_of_war=0
health_bars=selected
hi_res_overlays=1
infantry_squad_death_anim=1
insatiable_sandworms=0
raise_scenario_unit_cap=0
repeat_reinforcements=1
smooth_unit_animation=1
true_game_speed=1
# subtitle_override is one of: eu, us, dynasty
subtitle_override=dynasty

[completion]
Atreides=0
Ordos=0
Harkonnen=3

[music]
# MUSIC CONFIGURATION
# Enable or disable entire music sets here.
#
# If a track is not present in any of the enabled music sets, it will
# use the track from the default music pack or dune2_adlib.
#
# The relative volumes of external songs can be adjusted in the
# volume.cfg file of each music pack.
dune2_adlib=0
dune2_midi=0
fluidsynth=0
fed2k_mt32=1
rcblanke_sc55=0
d2tm_adlib=0
d2tm_mt32=0
d2tm_sc55=0
dune2_smd=0
dune2000=0
default=fed2k_mt32
